<img src="/images/error.jpeg" alt="ERROR">
<h1>404</h1>
<h2>Page Not Found</h2>
<p>Sorry, the page you're looking for cannot be found.</p>
<a href="/"><b>Go to Home Page</b></a>

<style>
img {
    height:460px;
    width:460px;
}
</style>
