<h1>500</h1>
<h2>Internal Server Error</h2>
<p>Sorry, something went wrong on our end.</p>
<p>Please try again later or contact support.</p>
<a href="/">Go to Home Page</a>

<style>
img {
    height:500px;
    width:500px;
}
</style>